<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">



    <title>{% block title %}Hello, world!{% endblock %}</title>
  </head>
  <body>

    

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item {% if 'home' in request.path %}active{% endif %}">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item {% if 'pp' in request.path %}active{% endif %}">
        <a class="nav-link" href="{% url 'team' 'pp' %}">PP</a>
      </li>  
      <li class="nav-item {% if 'cms' in request.path %}active{% endif %}">
        <a class="nav-link" href="{% url 'team' 'cms' %}">CMS</a>
      </li> 
      <li class="nav-item {% if 'callu' in request.path %}active{% endif %}">
        <a class="nav-link" href="{% url 'team' 'callu' %}">Cal Lu</a>
      </li> 
      <li class="nav-item {% if 'chapman' in request.path %}active{% endif %}">
        <a class="nav-link" href="{% url 'team' 'chapman' %}">Chapman</a>
      </li> 
      <li class="nav-item {% if 'occidental' in request.path %}active{% endif %}">
        <a class="nav-link" href="{% url 'team' 'occidental' %}">Occidental</a>
      </li> 
      <li class="nav-item {% if 'redlands' in request.path %}active{% endif %}">
        <a class="nav-link" href="{% url 'team' 'redlands' %}">Redlands</a>
      </li> 
      <li class="nav-item {% if 'laverne' in request.path %}active{% endif %}">
        <a class="nav-link" href="{% url 'team' 'laverne' %}">La Verne</a>
      </li> 
      <li class="nav-item {% if 'caltech' in request.path %}active{% endif %}">
        <a class="nav-link" href="{% url 'team' 'caltech' %}">Caltech</a>
      </li> 
      <li class="nav-item {% if 'whittier' in request.path %}active{% endif %}">
        <a class="nav-link" href="{% url 'team' 'whittier' %}">Whittier</a>
      </li> 
    </ul>
  </div>
      <ul class="navbar-nav ml-auto">
        <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</button>
        </form>
      </ul>
</nav>

{% block login %}
{% endblock %}

  <br>
  <div class="container" style="margin-left:20%; position:absolute;">
    {% block right %}
    {% endblock %}
  </div>
  <div class="container" style="margin-left:0%;display: inline-block; width: 20%;">
    {% block left %}
    {% endblock %}
  </div>


<br>
<br>
  <div class="container" style="display: inline-block;">
    {% block bottom %}
    {% endblock %}
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>