{% extends 'base.html' %}

{% load static %}


{% block title %}{{ player.Name }}{% endblock %}

{% block left %}
	<h2> {{ player.Name }}</h2>
	<br>
	<img src= "{% static "images/headshots/" %}{{ player.urlname }}.jpg" width="80%">
{% endblock %}

{% block right %}
   
<h1> Scouting Report:</h1>
<div>
	{{ player.Scouting_Report }}
</div>
<br>

<table class="table table-striped">
	<thead bgcolor=" {{ team.color }}" class="text-white">
	    <tr>
	      <th>Year</th>
	      <th>Pos</th>
	      <th>G</th>
	      <th>AB</th>
	      <th>R</th>
	      <th>H</th>
	      <th>2B</th>
	      <th>3B</th>
	      <th>HR</th>
	      <th>RBI</th>
	      <th>BB</th>
	      <th>K</th>
	      <th>SB</th>
	      <th>CS</th>
	      <th>AVG</th>
	      <th>OBP</th>
	      <th>SLG</th>
	      <th>OPS</th>
	    </tr> 
  </thead>
	<tr>
	<td>{{ player.Year }}</td>
	<td>{{ player.Position }}</td>
	<td>{{ player.Games }}</td>
	<td>{{ player.AB }}</td>
	<td>{{ player.Runs }}</td>
	<td>{{ player.Hits }}</td>
	<td>{{ player.X2B }}</td>
	<td>{{ player.X3B }}</td>
	<td>{{ player.HR }}</td>
	<td>{{ player.RBI }}</td>
	<td>{{ player.BB }}</td>
	<td>{{ player.K }}</td>
	<td>{{ player.SB }}</td>
	<td>{{ player.CS }}</td>
	<td>{{ player.AVG }}</td>
	<td>{{ player.OBP }}</td>
	<td>{{ player.SLG }}</td>
	<td>{{ player.OPS }}</td>
	</tr>
</table>



<table class="table">
	<thead>
		<tr>
			<th>Spraychart</th>
			<th>Video</th>
		</tr>
	<tr>
		<td>
			<img src= "{% static "images/spraycharts/" %}{{ player.urlname }}.jpg" height="90%" width="450px">
		</td>
		{% if player.Video %}
		<td style="height: 300px;">
			<video height="100%" controls>
  				<source src="{% static "images/batter_video/" %}{{ player.urlname }}.mov" type="video/mp4">
  					video not abvailable
			</video>
		</td>	
		{% endif %}
	</tr>
</table>


{% endblock %}


